{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="icon" href="{% static 'images/logo-IT.png' %}" type="image/png">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

    <!-- JS -->
    <link rel="stylesheet" href="{% static 'app/js/main.js' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body style="background-color: black; color: pink;">

    {% include 'partials/header.html' %}

    {% include 'partials/search_card.html' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.html' %}


    <script>
        // JS for button Favorite
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".btn-favorite").forEach(button => {
                button.addEventListener("click", function () {
                    let songId = this.getAttribute("data-song-id");

                    fetch(`/song/${songId}/favorite/`, {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                            "X-Requested-With": "XMLHttpRequest"
                        }
                    })
                        .then(response => {
                            if (response.redirected) {
                                window.location.href = response.url; // Redirect to Login
                                return;
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.is_favorite) {
                                this.innerHTML = "❤️ Liked";
                            } else {
                                this.innerHTML = "🤍 Like";
                            }
                        })
                        .catch(error => console.error("Error:", error));
                });
            });
        });
    </script>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>